body{
    background-image: url(http://wallpapercave.com/wp/hpkTe5n.jpg);
}

h1 { font-family: "comic sans ms",cursive,sans-serif; text-align:center; color:#FF0066 }

p { text-align: center; }

p { font-family: "comic sans ms", cursive, sans-serif;)}

/* Kelsea Kennedy */
